<!-- 404.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOT FOUND 404</title>
    <style>
      * {
        font-family: "Comic Sans MS", "Comic Sans", sans-serif;
        text-align: center;
      }
    </style>
</head>
<body>
    <h1>404: NOT FOUND</h1>
    <image src="https://th.bing.com/th/id/OIP.tOXfy3WcNcbi-AzQFY3V8QHaEK?rs=1&pid=ImgDetMain" alt="404: Gato no encontrado"></image>
    <p>La ruta solicitada no existe :(</p>
    <a href="/"><button id="go-back">Volver al inicio</button></a>
    
</body>
</html>
