<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Página</title>
  </head>
  <body>
    <h1>Mi página</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia ea, optio rerum repudiandae dolores eos aperiam
      distinctio? Omnis nesciunt repellat commodi sit ea. Labore, dignissimos laboriosam hic placeat quas sapiente.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla beatae quas incidunt tenetur suscipit ipsam vero
      adipisci possimus earum, reprehenderit quis rem aliquam accusantium debitis deserunt! Iste dicta odio laboriosam!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci, eum porro illo nihil consectetur
      corporis quaerat rerum, veritatis eveniet ipsum repellat atque deleniti facilis culpa excepturi autem, ipsam
      placeat!
    </p>
    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </h2>
  </body>
</html>
